@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 100vh;
}

.container {
	/* border: 1px solid red; */

	text-align: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.3);
}

header {
	width: 50%;
	border: 1px solid red;
	background-color: cadetblue;
	background: 50% / 50% url('../img/toppng.com-islamic-mosque-vector-architecture-2000x2000.png'), cadetblue;
}

.date {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 10px auto;
	/* background-color: rebeccapurple; */
}

.info {
	/* background-color: aquamarine; */
	height: 150px;
	padding: 10px 0;
}

.heure {
	/* background-color: tan; */
	font-size: clamp(2em, 10vw, 15em);
	font-weight: bold;
}

.contenue {
	/* background-color: cadetblue; */

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}
.box {
	/* border: 1px solid black; */
	height: 120px;
	width: 120px;
	padding: 5px;
	background-color: #fff;
	border-radius: 8px;
	/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
}

.box > h4 {
	text-transform: uppercase;
	font-size: 1.2rem;
}

.salath {
	font-size: 1.5rem;
	font-weight: bold;
}
